* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.scene {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#111425, #3751e0);
    background-attachment: fixed;
    overflow: hidden;
}

.moon {
    position: absolute;
    top: 200px;
    left: 25vw;
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    z-index: 1000;
}

.moon:after {
    content: '';
    position: absolute;
    top: -15px;
    left: 15px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#111425, #3751e0);
    background-attachment: fixed;
}

/* .forest {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transform: scale(1.15);
} */

.scene i {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    animation: animate linear infinite;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    10%,
    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-100px);
    }
}

.navbar .navbar-brand h3 {
    -webkit-text-fill-color: goldenrod;
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: white;
    font-size: 25px;
    font-weight: bold;
    transition: 0.4s;
    text-shadow: 4px 4px 12px darkgoldenrod;
}

.navbar .navbar-brand p {
    -webkit-text-fill-color: whitesmoke;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: goldenrod;
    font-size: 10px;
    text-align: center;
    transition: 0.4s;
    text-shadow: 4px 4px 12px darkgoldenrod;
}


.display-4 {
    color: black;
    padding-top: 5vh;
    padding-bottom: 5vh;
    -webkit-text-fill-color: darkgoldenrod;
    -webkit-text-stroke-width: 1.23px;
    -webkit-text-stroke-color: white;
    font-size: 2.3rem;
    margin-top: 50px;
    font-weight: 700;
    text-shadow: 4px 4px 12px gold;
    text-align: center;
}

.lead {
    color: aliceblue;
    font-weight: 400;
    margin: 4vh 1.75vw 4vh 0px;
    padding-bottom: 12.8vh;
    font-size: 1.3rem;
    text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
    text-align: right;
    font-style: italic;
    text-shadow: 4px 4px 12px gold;
}

img {
    align-content: center;
    height: 120px;
    vertical-align: middle;
    padding: 10px 40px 10px 40px;
    margin-top: 12vh;
    margin-bottom: 0;
}

.logo_title {
    color: white;
    margin-top: 1vh;
    font-weight: bold;
}

/* footer */
.footer-v1.bg-img {
    background-color: rgba(0, 0, 0, 0.9);
    background-repeat: repeat;
}

footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    color: #99abb4;
    text-align: center;
    padding: 17px 15px;
    border-top: 1px solid rgba(120, 130, 140, 0.13);
    background: rgba(14, 13, 13, 0.9);
}

/* desktop standard*/
@media screen and (max-width: 1199.98px) {

    .lead {
        font-size: 1.2rem;
        padding-top: 2vh;
        padding-bottom: 7vh;
    }
}

/* Tablet */
@media (max-width: 991.98px) {
    .display-4 {
        padding-top: 7.5vh;
        font-size: 2rem;
    }

    .moon {
        top: 210px;
        left: 18vw;
    }

    .lead {
        font-size: 1.2rem;

    }
}

/* landscape phone */
@media (max-width: 767.98px) {
    .moon {
        display: none;
    }

    .display-4 {
        font-size: 1.775rem;
    }

    .display-4 .kppbc {
        display: none;
    }

    .lead {
        display: none;
    }
}

@media (max-width: 575.98px) {
    .display-4 {
        font-size: 2rem;
        padding-top: 7.5vh;
    }

    .moon {
        display: initial;
        top: 36vh;
        left: 20vw;
        width: 80px;
        height: 80px;
    }

    .display-4 span {
        display: none;
    }

    img {
        display: none;
    }

    .logo_title {
        position: absolute;
        bottom: 10%;
    }
}

/* @media (max-width: 575.98px) {
    .moon {
        display: none;
    }

    .lead {
        display: none;
    }

    .display-4 {
        padding-top: 70px;
        font-size: 2rem;
    }

    .display-4 span {
        display: none;
    }

    img {
        display: none;
    }

    .logo_title {
        position: absolute;
        bottom: 10%;
        text-align: center;
    }
}

@media (max-width: 767.98px) {
    .moon {
        display: none;
    }
} */